.highlightImage,
.highlightMap {
	// position: absolute;
	// left: 0;
	// top: 0;
	width: 80vw;
	height: 80vw;
	margin: auto;
	border-radius: 50%;
	overflow: hidden;
}

@media all and (min-width: 30rem) {
	.highlightImage {
		min-width: 20rem;
		width: 100%;
		height: min-content;

		> div {
			padding-bottom: 100% !important; /* aspect ratio */
		}
	}

	.highlightMap {
		width: 20rem;
		height: 20rem;
	}
}
