@import './reset.css';
@import './vars.css';

body {
	font-family: 'gangster grotesk', 'work sans', sans-serif;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

h2 {
	font-size: 1.2rem;
}

p {
	font-weight: 300;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbartrack {
	display: none;
}
