.card {
	height: 8rem;
	width: 100%;
	padding: 1rem 1.6rem;

	h2,
	p {
		overflow: hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}

	h2 {
		-webkit-line-clamp: 1;
	}

	p {
		-webkit-line-clamp: 2;
	}

	span {
		font-size: 0.8rem;
		font-weight: 300;
	}

	&.isActive {
		height: min-content;
		margin-bottom: 1.2rem;
		box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.12);

		h2,
		p {
			-webkit-line-clamp: initial; // Disable
		}
	}
}

.footerImageWrapper {
	display: flex;

	button {
		border: none;
		padding: 0;
		background-color: transparent;

		&:nth-of-type(1n + 2) {
			margin-left: 0.4rem;
		}
	}
}

.footerImage {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	margin-top: 0.8rem;
}

@media all and (min-width: 30rem) {
	.card {
		width: 20rem;
	}
}
