.container {
	position: relative;
	display: flex;
}

.postsWrapper {
	display: flex;
	flex-direction: column;
}

.listWrapper {
	scroll-snap-align: start;
}

.spotList {
	display: none;
}

.highlight {
	flex: 1;
	max-width: 36rem;
}

@media all and (min-width: 30rem) {
	.container {
		width: 100vw;
		padding: 0 2.4rem;
		transform: translate3d(-2.4rem, 0, 0);
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
		scroll-padding-left: 2.4rem;
	}

	.postsWrapper {
		flex-direction: row-reverse;
	}

	.spotList {
		display: block;
	}
}
